<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6aa5464a3cf8439fa923557e35b10b90 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6aa5464a3cf8439fa923557e35b10b90" ></div>
        
</body>
<script>    
    
            var map_6aa5464a3cf8439fa923557e35b10b90 = L.map(
                "map_6aa5464a3cf8439fa923557e35b10b90",
                {
                    center: [1.3507, 103.8488],
                    crs: L.CRS.EPSG3857,
                    zoom: 14.8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d1d9bf15525645afa24c8b406fe412e5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
    
            var poly_line_af06672a5cdf4427afe806fcff7a43e6 = L.polyline(
                [[1.353375808, 103.840735], [1.352077981, 103.8434976], [1.352018989, 103.8465661], [1.352501652, 103.8478643], [1.350898, 103.848077]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.4, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
    
            var poly_line_bd4bf2f22dea439f81e129e5ac9c72d0 = L.polyline(
                [[1.350898, 103.848077], [1.348441915, 103.8473653], [1.343985, 103.846324], [1.343813, 103.849543], [1.342344, 103.849339], [1.342387, 103.848545], [1.340767, 103.848524], [1.3407, 103.8472]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
    
            var marker_50ee3af5e21f437e8fb5947e22351688 = L.marker(
                [1.353375808, 103.840735],
                {}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
    
            var icon_48acc2edb9cd457a83ef27fd3bc03552 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "navy", "prefix": "fa"}
            );
            marker_50ee3af5e21f437e8fb5947e22351688.setIcon(icon_48acc2edb9cd457a83ef27fd3bc03552);
        
    
        var popup_0efd7f341bd940a88cee9e7a3657ec89 = L.popup({"maxWidth": "100%"});

        
            var html_02b622356a9d42d89462a81547b02ea2 = $(`<div id="html_02b622356a9d42d89462a81547b02ea2" style="width: 100.0%; height: 100.0%;">Driver assigned: Peter</div>`)[0];
            popup_0efd7f341bd940a88cee9e7a3657ec89.setContent(html_02b622356a9d42d89462a81547b02ea2);
        

        marker_50ee3af5e21f437e8fb5947e22351688.bindPopup(popup_0efd7f341bd940a88cee9e7a3657ec89)
        ;

        
    
    
            var marker_4f05312da3de49e7b78f650e060896fa = L.marker(
                [1.350898, 103.848077],
                {}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
    
            var icon_43c8841c0b5040d8b35ed728b87dc135 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_4f05312da3de49e7b78f650e060896fa.setIcon(icon_43c8841c0b5040d8b35ed728b87dc135);
        
    
        var popup_fcb54d36e81443b7b66c5f4dba12a602 = L.popup({"maxWidth": "100%"});

        
            var html_343a8dc1e2ba44489448ad8e6a0fda33 = $(`<div id="html_343a8dc1e2ba44489448ad8e6a0fda33" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
            popup_fcb54d36e81443b7b66c5f4dba12a602.setContent(html_343a8dc1e2ba44489448ad8e6a0fda33);
        

        marker_4f05312da3de49e7b78f650e060896fa.bindPopup(popup_fcb54d36e81443b7b66c5f4dba12a602)
        ;

        
    
    
            var marker_b3b43cc861a446b3a94f7c01941e327d = L.marker(
                [1.3407, 103.8472],
                {}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
    
            var icon_cfcdde14572e42468a4687aeca8a29aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b3b43cc861a446b3a94f7c01941e327d.setIcon(icon_cfcdde14572e42468a4687aeca8a29aa);
        
    
        var popup_665aa536c44b4f06887dd3e7e7420042 = L.popup({"maxWidth": "100%"});

        
            var html_ba62c0d577a94a52a0e201fca28c8ed5 = $(`<div id="html_ba62c0d577a94a52a0e201fca28c8ed5" style="width: 100.0%; height: 100.0%;">Destination  Total distance: 2.81km Cost:$11.04</div>`)[0];
            popup_665aa536c44b4f06887dd3e7e7420042.setContent(html_ba62c0d577a94a52a0e201fca28c8ed5);
        

        marker_b3b43cc861a446b3a94f7c01941e327d.bindPopup(popup_665aa536c44b4f06887dd3e7e7420042)
        ;

        
    
    
            var tile_layer_b9dc25fa6176498ca37783744ed62f0c = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6aa5464a3cf8439fa923557e35b10b90);
        
</script>