<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_552e5f18eac6419183d36a67da1ba95c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_552e5f18eac6419183d36a67da1ba95c" ></div>
        
</body>
<script>    
    
            var map_552e5f18eac6419183d36a67da1ba95c = L.map(
                "map_552e5f18eac6419183d36a67da1ba95c",
                {
                    center: [1.3496033678588581, 103.84455425144989],
                    crs: L.CRS.EPSG3857,
                    zoom: 14.4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_036d022efbde4214911728cecdf8774e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var poly_line_55d4be47cb6541b988d517545dd7428d = L.polyline(
                [[1.353375808, 103.840735], [1.352077981, 103.8434976], [1.352018989, 103.8465661], [1.352501652, 103.8478643], [1.350898, 103.848077]],
                {"bubblingMouseEvents": true, "color": "#FF1493", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF1493", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var poly_line_543a63dfc88746f2b06686fc9a154494 = L.polyline(
                [[1.352936049, 103.8520056], [1.35213161, 103.8525286], [1.351785702, 103.8524938], [1.3509035, 103.8523167], [1.350420837, 103.8504446], [1.348441915, 103.8473653], [1.343985, 103.846324]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.4, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var poly_line_9f30211f5cd14c228a3dd751dcc76343 = L.polyline(
                [[1.360696185, 103.8419473], [1.360192072, 103.8435566], [1.359065861, 103.8449943], [1.357467714, 103.8451338], [1.356566745, 103.8462174], [1.355386903, 103.8464534], [1.354421578, 103.8470542], [1.35361714, 103.8484168]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var marker_6999eec1ffe64285ae7e3b39413f232f = L.marker(
                [1.353375808, 103.840735],
                {}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var icon_a25dbac16bd64f86b73b6827c89b6fc6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "navy", "prefix": "fa"}
            );
            marker_6999eec1ffe64285ae7e3b39413f232f.setIcon(icon_a25dbac16bd64f86b73b6827c89b6fc6);
        
    
        var popup_6beadb76cb0f4f5cad37008e794e63aa = L.popup({"maxWidth": "100%"});

        
            var html_f1b66f6420854e239f49ec3ca2e28afc = $(`<div id="html_f1b66f6420854e239f49ec3ca2e28afc" style="width: 100.0%; height: 100.0%;">Driver</div>`)[0];
            popup_6beadb76cb0f4f5cad37008e794e63aa.setContent(html_f1b66f6420854e239f49ec3ca2e28afc);
        

        marker_6999eec1ffe64285ae7e3b39413f232f.bindPopup(popup_6beadb76cb0f4f5cad37008e794e63aa)
        ;

        
    
    
            var marker_ebf43cd7d23448c49192c120dd5bc209 = L.marker(
                [1.350898, 103.848077],
                {}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var icon_cff9411b79c74f0cb743741cc400d3b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_ebf43cd7d23448c49192c120dd5bc209.setIcon(icon_cff9411b79c74f0cb743741cc400d3b8);
        
    
        var popup_5b989e5860724cc3915cc1fcd66d2cc2 = L.popup({"maxWidth": "100%"});

        
            var html_e447ab302fb14726ae55ac832b2630f3 = $(`<div id="html_e447ab302fb14726ae55ac832b2630f3" style="width: 100.0%; height: 100.0%;">UserTotal Distance: 1.01km</div>`)[0];
            popup_5b989e5860724cc3915cc1fcd66d2cc2.setContent(html_e447ab302fb14726ae55ac832b2630f3);
        

        marker_ebf43cd7d23448c49192c120dd5bc209.bindPopup(popup_5b989e5860724cc3915cc1fcd66d2cc2)
        ;

        
    
    
            var marker_0673b8eba8c64f2b98d6c3e930e0f417 = L.marker(
                [1.352936049, 103.8520056],
                {}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var icon_00600328a50b47f49c72f94a1c297cf9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "navy", "prefix": "fa"}
            );
            marker_0673b8eba8c64f2b98d6c3e930e0f417.setIcon(icon_00600328a50b47f49c72f94a1c297cf9);
        
    
        var popup_7bf48998d2914269b3a767b771bb40c8 = L.popup({"maxWidth": "100%"});

        
            var html_f1c54cf13585419b9b1378905f52b759 = $(`<div id="html_f1c54cf13585419b9b1378905f52b759" style="width: 100.0%; height: 100.0%;">Driver</div>`)[0];
            popup_7bf48998d2914269b3a767b771bb40c8.setContent(html_f1c54cf13585419b9b1378905f52b759);
        

        marker_0673b8eba8c64f2b98d6c3e930e0f417.bindPopup(popup_7bf48998d2914269b3a767b771bb40c8)
        ;

        
    
    
            var marker_c7361e8c4ecd40bc8518a77c3514f950 = L.marker(
                [1.343985, 103.846324],
                {}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var icon_b052fcd00b364043a1d43ae084284d6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_c7361e8c4ecd40bc8518a77c3514f950.setIcon(icon_b052fcd00b364043a1d43ae084284d6f);
        
    
        var popup_361aec3635dd4918bd835f2f49883a36 = L.popup({"maxWidth": "100%"});

        
            var html_6e02acbf41de4d30832f7e9605b23e99 = $(`<div id="html_6e02acbf41de4d30832f7e9605b23e99" style="width: 100.0%; height: 100.0%;">UserTotal Distance: 1.16km</div>`)[0];
            popup_361aec3635dd4918bd835f2f49883a36.setContent(html_6e02acbf41de4d30832f7e9605b23e99);
        

        marker_c7361e8c4ecd40bc8518a77c3514f950.bindPopup(popup_361aec3635dd4918bd835f2f49883a36)
        ;

        
    
    
            var marker_3bc10e65987b47bcb9d22b9b7349c352 = L.marker(
                [1.360696185, 103.8419473],
                {}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var icon_95afac2a11ae40d9986ffa504b5cf570 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "navy", "prefix": "fa"}
            );
            marker_3bc10e65987b47bcb9d22b9b7349c352.setIcon(icon_95afac2a11ae40d9986ffa504b5cf570);
        
    
        var popup_5f5373aa9e3949eb9b40c83574755df1 = L.popup({"maxWidth": "100%"});

        
            var html_eb9d4f44e79b4631b50bc2af168dab6a = $(`<div id="html_eb9d4f44e79b4631b50bc2af168dab6a" style="width: 100.0%; height: 100.0%;">Driver</div>`)[0];
            popup_5f5373aa9e3949eb9b40c83574755df1.setContent(html_eb9d4f44e79b4631b50bc2af168dab6a);
        

        marker_3bc10e65987b47bcb9d22b9b7349c352.bindPopup(popup_5f5373aa9e3949eb9b40c83574755df1)
        ;

        
    
    
            var marker_a969ba4d0020484f987297aa48ef20e9 = L.marker(
                [1.35361714, 103.8484168],
                {}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
    
            var icon_51152d2605454957a414cb8649f5fe82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_a969ba4d0020484f987297aa48ef20e9.setIcon(icon_51152d2605454957a414cb8649f5fe82);
        
    
        var popup_59dbe2aa4bd74afd988f81f879483c50 = L.popup({"maxWidth": "100%"});

        
            var html_51ee4a8d146742549c5ef49f914db7ac = $(`<div id="html_51ee4a8d146742549c5ef49f914db7ac" style="width: 100.0%; height: 100.0%;">UserTotal Distance: 1.38km</div>`)[0];
            popup_59dbe2aa4bd74afd988f81f879483c50.setContent(html_51ee4a8d146742549c5ef49f914db7ac);
        

        marker_a969ba4d0020484f987297aa48ef20e9.bindPopup(popup_59dbe2aa4bd74afd988f81f879483c50)
        ;

        
    
    
            var tile_layer_1f3b7e8b67a14944b023a7c373961922 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_552e5f18eac6419183d36a67da1ba95c);
        
</script>