<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_10098d1068a443a9bbdbb275077e795e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_10098d1068a443a9bbdbb275077e795e" ></div>
        
</body>
<script>    
    
            var map_10098d1068a443a9bbdbb275077e795e = L.map(
                "map_10098d1068a443a9bbdbb275077e795e",
                {
                    center: [1.3496033678588581, 103.84455425144989],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_45698e793d6d4e969c2bcf03f8f3e652 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var poly_line_388edfcfe5b54b5bb0058fab1b280a6f = L.polyline(
                [[1.353375808, 103.840735], [1.351332534, 103.839941], [1.348420464, 103.8392812]],
                {"bubblingMouseEvents": true, "color": "#FF1493", "dashArray": "10", "dashOffset": null, "fill": false, "fillColor": "#FF1493", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var poly_line_d5158198de4448bc99bb02458d998943 = L.polyline(
                [[1.348420464, 103.8392812], [1.347953889, 103.8403541], [1.347020738, 103.8413304], [1.346838398, 103.8421458], [1.347932437, 103.8441467], [1.348693973, 103.8461208], [1.348441915, 103.8473653], [1.343985, 103.846324]],
                {"bubblingMouseEvents": true, "color": "#20B2AA", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#20B2AA", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var poly_line_d342b5a5024345509ea478a23c193f82 = L.polyline(
                [[1.343985, 103.846324], [1.343813, 103.849543], [1.342344, 103.849339], [1.342387, 103.848545], [1.340767, 103.848524], [1.3407, 103.8472]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var poly_line_0ae42dd06a1d473ab3ac769473b39563 = L.polyline(
                [[1.3407, 103.8472]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var marker_fba336d807144adf99bf264dc09f412f = L.marker(
                [1.353375808, 103.840735],
                {}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var icon_b314a53c36174b02953f509e0fc0662f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "navy", "prefix": "fa"}
            );
            marker_fba336d807144adf99bf264dc09f412f.setIcon(icon_b314a53c36174b02953f509e0fc0662f);
        
    
        var popup_05f895e2a5104d87a0dec61da8664a77 = L.popup({"maxWidth": "100%"});

        
            var html_2e1c6b6d20fe4f909dacc198c9c57772 = $(`<div id="html_2e1c6b6d20fe4f909dacc198c9c57772" style="width: 100.0%; height: 100.0%;">Driver: Ben</div>`)[0];
            popup_05f895e2a5104d87a0dec61da8664a77.setContent(html_2e1c6b6d20fe4f909dacc198c9c57772);
        

        marker_fba336d807144adf99bf264dc09f412f.bindPopup(popup_05f895e2a5104d87a0dec61da8664a77)
        ;

        
    
    
            var marker_608aaade27b54307a84f93c63424d6b4 = L.marker(
                [1.348420464, 103.8392812],
                {}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var icon_412969c9aa7341afad4cecaac206eaae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_608aaade27b54307a84f93c63424d6b4.setIcon(icon_412969c9aa7341afad4cecaac206eaae);
        
    
        var popup_d89b92ff155c473c84a988c857c28e21 = L.popup({"maxWidth": "100%"});

        
            var html_8d3b0916f1f8411590223d4dee03e6f6 = $(`<div id="html_8d3b0916f1f8411590223d4dee03e6f6" style="width: 100.0%; height: 100.0%;">Main User</div>`)[0];
            popup_d89b92ff155c473c84a988c857c28e21.setContent(html_8d3b0916f1f8411590223d4dee03e6f6);
        

        marker_608aaade27b54307a84f93c63424d6b4.bindPopup(popup_d89b92ff155c473c84a988c857c28e21)
        ;

        
    
    
            var marker_ee05c74cd0fe434dab10a900adcb87e0 = L.marker(
                [1.343985, 103.846324],
                {}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var icon_f4e2863b886f4f34835c8b0810421906 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_ee05c74cd0fe434dab10a900adcb87e0.setIcon(icon_f4e2863b886f4f34835c8b0810421906);
        
    
        var popup_6f24c64741b741cc9970e722e54de944 = L.popup({"maxWidth": "100%"});

        
            var html_0be4a657878f453c94acebc130cb82a6 = $(`<div id="html_0be4a657878f453c94acebc130cb82a6" style="width: 100.0%; height: 100.0%;">Rideshare user</div>`)[0];
            popup_6f24c64741b741cc9970e722e54de944.setContent(html_0be4a657878f453c94acebc130cb82a6);
        

        marker_ee05c74cd0fe434dab10a900adcb87e0.bindPopup(popup_6f24c64741b741cc9970e722e54de944)
        ;

        
    
    
            var marker_e1481b805eca40b9abc091f74b70872b = L.marker(
                [1.3407, 103.8472],
                {}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var div_icon_015756817c5e42dd91021713ec6c5640 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 18pt; color : black\"\u003e1\u003c/div\u003e", "iconAnchor": [7, 20], "iconSize": [150, 36]});
            marker_e1481b805eca40b9abc091f74b70872b.setIcon(div_icon_015756817c5e42dd91021713ec6c5640);
        
    
            var circle_marker_c00c21aa36ce475aa2592cebdaa25bc4 = L.circleMarker(
                [1.3407, 103.8472],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var marker_da6691f955994d67af85654a12b504ef = L.marker(
                [1.3407, 103.8472],
                {}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var div_icon_07cdbae191af4461874c56ac59615c2e = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 18pt; color : black\"\u003e2\u003c/div\u003e", "iconAnchor": [7, 20], "iconSize": [150, 36]});
            marker_da6691f955994d67af85654a12b504ef.setIcon(div_icon_07cdbae191af4461874c56ac59615c2e);
        
    
            var circle_marker_68f36c9fcef143d1a517796b25a331a5 = L.circleMarker(
                [1.3407, 103.8472],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
    
            var tile_layer_da6946b56541424ab1992270fba7e83c = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_10098d1068a443a9bbdbb275077e795e);
        
</script>