<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2a50b306538d4f919eda60c123808d2e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2a50b306538d4f919eda60c123808d2e" ></div>
        
</body>
<script>    
    
            var map_2a50b306538d4f919eda60c123808d2e = L.map(
                "map_2a50b306538d4f919eda60c123808d2e",
                {
                    center: [1.3496033678588581, 103.84455425144989],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cabc658c66564644bcfd0331ff100d8c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var poly_line_02138a16c8624fa28e0cf90d8372042d = L.polyline(
                [[1.353375808, 103.840735], [1.351332534, 103.839941], [1.348420464, 103.8392812]],
                {"bubblingMouseEvents": true, "color": "#FF1493", "dashArray": "10", "dashOffset": null, "fill": false, "fillColor": "#FF1493", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var poly_line_79d472b07f984da58f6f27a9af869eb8 = L.polyline(
                [[1.348420464, 103.8392812], [1.347953889, 103.8403541], [1.347020738, 103.8413304], [1.346838398, 103.8421458], [1.347932437, 103.8441467], [1.348693973, 103.8461208], [1.348441915, 103.8473653], [1.343985, 103.846324], [1.343813, 103.849543], [1.342344, 103.849339], [1.342387, 103.848545], [1.340767, 103.848524], [1.3407, 103.8472]],
                {"bubblingMouseEvents": true, "color": "#20B2AA", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#20B2AA", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var marker_b84baacb02d94b78bfcc5e2493a95403 = L.marker(
                [1.353375808, 103.840735],
                {}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var icon_254c46d932aa4df49be818e09fb63d0d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "navy", "prefix": "fa"}
            );
            marker_b84baacb02d94b78bfcc5e2493a95403.setIcon(icon_254c46d932aa4df49be818e09fb63d0d);
        
    
        var popup_cfc15114180d4c1e86abc7c5adf28bce = L.popup({"maxWidth": "100%"});

        
            var html_bdce0677e36b40239903e69bb00f8d77 = $(`<div id="html_bdce0677e36b40239903e69bb00f8d77" style="width: 100.0%; height: 100.0%;">Driver: Ben</div>`)[0];
            popup_cfc15114180d4c1e86abc7c5adf28bce.setContent(html_bdce0677e36b40239903e69bb00f8d77);
        

        marker_b84baacb02d94b78bfcc5e2493a95403.bindPopup(popup_cfc15114180d4c1e86abc7c5adf28bce)
        ;

        
    
    
            var marker_ef84ba0ae94e488fb0f024777c726085 = L.marker(
                [1.348420464, 103.8392812],
                {}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var icon_4afba9e0dfe1409c8d83ed1bd7b13ff4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_ef84ba0ae94e488fb0f024777c726085.setIcon(icon_4afba9e0dfe1409c8d83ed1bd7b13ff4);
        
    
        var popup_0ac6ed6650e64a6e8a5184d093c77ac7 = L.popup({"maxWidth": "100%"});

        
            var html_193677ce0d2747ed836f4a2a821a96fb = $(`<div id="html_193677ce0d2747ed836f4a2a821a96fb" style="width: 100.0%; height: 100.0%;">Main User</div>`)[0];
            popup_0ac6ed6650e64a6e8a5184d093c77ac7.setContent(html_193677ce0d2747ed836f4a2a821a96fb);
        

        marker_ef84ba0ae94e488fb0f024777c726085.bindPopup(popup_0ac6ed6650e64a6e8a5184d093c77ac7)
        ;

        
    
    
            var marker_6ae7d50c6c9141a1b44d9be89fc3f340 = L.marker(
                [1.3407, 103.8472],
                {}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var icon_49aab62600e14110900c3dd818093d13 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_6ae7d50c6c9141a1b44d9be89fc3f340.setIcon(icon_49aab62600e14110900c3dd818093d13);
        
    
        var popup_cce48dd461c2477b95a0bbd9289f909e = L.popup({"maxWidth": "100%"});

        
            var html_36a34748db494d72bc57e320662ffb23 = $(`<div id="html_36a34748db494d72bc57e320662ffb23" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
            popup_cce48dd461c2477b95a0bbd9289f909e.setContent(html_36a34748db494d72bc57e320662ffb23);
        

        marker_6ae7d50c6c9141a1b44d9be89fc3f340.bindPopup(popup_cce48dd461c2477b95a0bbd9289f909e)
        ;

        
    
    
            var marker_805d77bcbc604cffaee3e1eb8bab7fd6 = L.marker(
                [1.339083, 103.852493],
                {}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var icon_0213ef786cb3428ab8484390d59dd87d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_805d77bcbc604cffaee3e1eb8bab7fd6.setIcon(icon_0213ef786cb3428ab8484390d59dd87d);
        
    
        var popup_8439c5d3b1c44e169c87e06e92e7a509 = L.popup({"maxWidth": "100%"});

        
            var html_b19193bd94944cd7a89c2d112d6a088c = $(`<div id="html_b19193bd94944cd7a89c2d112d6a088c" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
            popup_8439c5d3b1c44e169c87e06e92e7a509.setContent(html_b19193bd94944cd7a89c2d112d6a088c);
        

        marker_805d77bcbc604cffaee3e1eb8bab7fd6.bindPopup(popup_8439c5d3b1c44e169c87e06e92e7a509)
        ;

        
    
    
            var marker_0ecfdf231af647dbacd94d197000051d = L.marker(
                [1.343148, 103.853641],
                {}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var icon_7fbafb3c676e4171b1d9fbed59782681 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_0ecfdf231af647dbacd94d197000051d.setIcon(icon_7fbafb3c676e4171b1d9fbed59782681);
        
    
        var popup_47c58fce862f4cb3a3f9319ea6498f87 = L.popup({"maxWidth": "100%"});

        
            var html_6d6d053512fd432ea3860a4f54c6b6f5 = $(`<div id="html_6d6d053512fd432ea3860a4f54c6b6f5" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
            popup_47c58fce862f4cb3a3f9319ea6498f87.setContent(html_6d6d053512fd432ea3860a4f54c6b6f5);
        

        marker_0ecfdf231af647dbacd94d197000051d.bindPopup(popup_47c58fce862f4cb3a3f9319ea6498f87)
        ;

        
    
    
            var marker_8bc316868efd44869b49936f27fcb1cd = L.marker(
                [1.352936049, 103.8520056],
                {}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
    
            var icon_654fff065fd24f8e827210efbcba571b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_8bc316868efd44869b49936f27fcb1cd.setIcon(icon_654fff065fd24f8e827210efbcba571b);
        
    
        var popup_5dc87a8de23d43e8b04a1c87f7bb4597 = L.popup({"maxWidth": "100%"});

        
            var html_d39ac04829724aa4a2f8ccd0a487d739 = $(`<div id="html_d39ac04829724aa4a2f8ccd0a487d739" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
            popup_5dc87a8de23d43e8b04a1c87f7bb4597.setContent(html_d39ac04829724aa4a2f8ccd0a487d739);
        

        marker_8bc316868efd44869b49936f27fcb1cd.bindPopup(popup_5dc87a8de23d43e8b04a1c87f7bb4597)
        ;

        
    
    
            var tile_layer_acfc0788fe20466d961bf9334c48a374 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2a50b306538d4f919eda60c123808d2e);
        
</script>