<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f7ef25762a68392ce0171fd3c2b1b287 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f7ef25762a68392ce0171fd3c2b1b287" ></div>
        
</body>
<script>
    
    
            var map_f7ef25762a68392ce0171fd3c2b1b287 = L.map(
                "map_f7ef25762a68392ce0171fd3c2b1b287",
                {
                    center: [1.3496033678588581, 103.84455425144989],
                    crs: L.CRS.EPSG3857,
                    zoom: 14.8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_83730b361be954c71c45bb9e70e4fbf5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
    
            var poly_line_748de3b4afa3f4583ef5b1b4e9ae3a13 = L.polyline(
                [[1.353375808, 103.840735], [1.352077981, 103.8434976], [1.352018989, 103.8465661], [1.352501652, 103.8478643], [1.350898, 103.848077]],
                {"bubblingMouseEvents": true, "color": "#905284", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#905284", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
    
            var poly_line_ab9cc4e8801cba009010d2fde997383e = L.polyline(
                [[1.350898, 103.848077], [1.348441915, 103.8473653], [1.348007, 103.8498598], [1.35057, 103.850626], [1.351785702, 103.8524938], [1.35213161, 103.8525286], [1.352936049, 103.8520056]],
                {"bubblingMouseEvents": true, "color": "#E3242B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#E3242B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
    
            var marker_767afb87e5e160b42d4d07fd00486caf = L.marker(
                [1.353375808, 103.840735],
                {}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
    
            var icon_4bb571f3c990bfd2f3f818e607d0e062 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "cadetblue", "prefix": "fa"}
            );
            marker_767afb87e5e160b42d4d07fd00486caf.setIcon(icon_4bb571f3c990bfd2f3f818e607d0e062);
        
    
        var popup_b5598ea7d3b999cc7dda14c87de9c589 = L.popup({"maxWidth": "100%"});

        
            
                var html_69194af38fc3569ae582c6afdb3cfe2d = $(`<div id="html_69194af38fc3569ae582c6afdb3cfe2d" style="width: 100.0%; height: 100.0%;">Driver: Ryan</div>`)[0];
                popup_b5598ea7d3b999cc7dda14c87de9c589.setContent(html_69194af38fc3569ae582c6afdb3cfe2d);
            
        

        marker_767afb87e5e160b42d4d07fd00486caf.bindPopup(popup_b5598ea7d3b999cc7dda14c87de9c589)
        ;

        
    
    
            var marker_da2354a2cca34aa1f720c8698374b0f7 = L.marker(
                [1.350898, 103.848077],
                {}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
    
            var icon_04331ef2e6ef6c3ccd227211ea478234 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_da2354a2cca34aa1f720c8698374b0f7.setIcon(icon_04331ef2e6ef6c3ccd227211ea478234);
        
    
        var popup_e1a5be553b9ecba7351143a4224aae88 = L.popup({"maxWidth": "100%"});

        
            
                var html_18d3258a351552e0a06c6042622b6170 = $(`<div id="html_18d3258a351552e0a06c6042622b6170" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_e1a5be553b9ecba7351143a4224aae88.setContent(html_18d3258a351552e0a06c6042622b6170);
            
        

        marker_da2354a2cca34aa1f720c8698374b0f7.bindPopup(popup_e1a5be553b9ecba7351143a4224aae88)
        ;

        
    
    
            var marker_554f21111cbb7592bea44b54830f88dc = L.marker(
                [1.352936049, 103.8520056],
                {}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
    
            var icon_17c84c2b0a7d02fcc4039f62db5ad462 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_554f21111cbb7592bea44b54830f88dc.setIcon(icon_17c84c2b0a7d02fcc4039f62db5ad462);
        
    
        var popup_b2969983c65c70262b3b5da088b78629 = L.popup({"maxWidth": "100%"});

        
            
                var html_fe67c6c6c3c7a4f2ba96937e84b204c9 = $(`<div id="html_fe67c6c6c3c7a4f2ba96937e84b204c9" style="width: 100.0%; height: 100.0%;">Destination  Total distance: 2.27km Cost:$8.43</div>`)[0];
                popup_b2969983c65c70262b3b5da088b78629.setContent(html_fe67c6c6c3c7a4f2ba96937e84b204c9);
            
        

        marker_554f21111cbb7592bea44b54830f88dc.bindPopup(popup_b2969983c65c70262b3b5da088b78629)
        ;

        
    
    
            var tile_layer_0f137d5fddba75cff0f6ea2fdc77f157 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f7ef25762a68392ce0171fd3c2b1b287);
        
</script>
</html>