<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8a2e74d7779c4821b71fe83dd8769c97 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8a2e74d7779c4821b71fe83dd8769c97" ></div>
        
</body>
<script>    
    
            var map_8a2e74d7779c4821b71fe83dd8769c97 = L.map(
                "map_8a2e74d7779c4821b71fe83dd8769c97",
                {
                    center: [1.3496033678588581, 103.84455425144989],
                    crs: L.CRS.EPSG3857,
                    zoom: 14.8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d15a094b754b443a8c3c44e1a1142cf2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
    
            var poly_line_68103538e8044315a799a7d1118ed7e4 = L.polyline(
                [[1.353375808, 103.840735], [1.352077981, 103.8434976], [1.352018989, 103.8465661], [1.352501652, 103.8478643], [1.350898, 103.848077]],
                {"bubblingMouseEvents": true, "color": "#905284", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#905284", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
    
            var poly_line_1703b29890b6451985a9126501719dc4 = L.polyline(
                [[1.350898, 103.848077], [1.348441915, 103.8473653], [1.350420837, 103.8504446], [1.3509035, 103.8523167], [1.351785702, 103.8524938], [1.35213161, 103.8525286], [1.352936049, 103.8520056]],
                {"bubblingMouseEvents": true, "color": "#E3242B", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#E3242B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
    
            var marker_e156a46dd0bb45f983b538cc7e1d7fe2 = L.marker(
                [1.353375808, 103.840735],
                {}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
    
            var icon_6e672716846846c0966a9ad1d6fbce63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "cadetblue", "prefix": "fa"}
            );
            marker_e156a46dd0bb45f983b538cc7e1d7fe2.setIcon(icon_6e672716846846c0966a9ad1d6fbce63);
        
    
        var popup_0afc559fe5ab419cb9badd7d8c7ed169 = L.popup({"maxWidth": "100%"});

        
            var html_abd1143d0a0f433496ed1d7495acb714 = $(`<div id="html_abd1143d0a0f433496ed1d7495acb714" style="width: 100.0%; height: 100.0%;">Driver: Ryan</div>`)[0];
            popup_0afc559fe5ab419cb9badd7d8c7ed169.setContent(html_abd1143d0a0f433496ed1d7495acb714);
        

        marker_e156a46dd0bb45f983b538cc7e1d7fe2.bindPopup(popup_0afc559fe5ab419cb9badd7d8c7ed169)
        ;

        
    
    
            var marker_d808edf9127a4d19b2360ad08f5fcb4e = L.marker(
                [1.350898, 103.848077],
                {}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
    
            var icon_df411df8cb91462f89a187d3cb2cc3a8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_d808edf9127a4d19b2360ad08f5fcb4e.setIcon(icon_df411df8cb91462f89a187d3cb2cc3a8);
        
    
        var popup_e97f72d3f00c4e1eba2721bada00b2e8 = L.popup({"maxWidth": "100%"});

        
            var html_6db1de77a5db4e9788b761652c7126cb = $(`<div id="html_6db1de77a5db4e9788b761652c7126cb" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
            popup_e97f72d3f00c4e1eba2721bada00b2e8.setContent(html_6db1de77a5db4e9788b761652c7126cb);
        

        marker_d808edf9127a4d19b2360ad08f5fcb4e.bindPopup(popup_e97f72d3f00c4e1eba2721bada00b2e8)
        ;

        
    
    
            var marker_aa176dffa5d240ea8725686adf0c42ea = L.marker(
                [1.352936049, 103.8520056],
                {}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
    
            var icon_f3f8d8fb38c84235a25f2fea902ed98d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_aa176dffa5d240ea8725686adf0c42ea.setIcon(icon_f3f8d8fb38c84235a25f2fea902ed98d);
        
    
        var popup_b6167641a0394220982a9c15a6259754 = L.popup({"maxWidth": "100%"});

        
            var html_b8ebde63ccb546f8b8a359f8420f8f93 = $(`<div id="html_b8ebde63ccb546f8b8a359f8420f8f93" style="width: 100.0%; height: 100.0%;">Destination  Total distance: 2.17km Cost:$8.43</div>`)[0];
            popup_b6167641a0394220982a9c15a6259754.setContent(html_b8ebde63ccb546f8b8a359f8420f8f93);
        

        marker_aa176dffa5d240ea8725686adf0c42ea.bindPopup(popup_b6167641a0394220982a9c15a6259754)
        ;

        
    
    
            var tile_layer_cc5841c6757a4f9194f5dda062be8ba8 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8a2e74d7779c4821b71fe83dd8769c97);
        
</script>