<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Folium Map</title>
</head>
<body style="background-color:darkseagreen;">
    <h1>Normal Route using AStar</h1>
    <h2>Total Distance: 2.17 km</h2>
    <h2>Total Time Estimate: 4 mins </h2>

    <iframe class="map2", src="/AStar_map" width="800" height="400"></iframe>
{#    <h3><b style="background-color: lightcoral; color: lightcyan;">#}
{#        Render Folium on Flask done!#}
{#    </b></h3>#}
</body>
</html>